/target*
*.lock
/.cph
.DS_Store
*.zip
/spreadsheet_server/target*
/spreadsheet_client/target*
/spreadsheet_core/target*
/.shuttle
/spreadsheet_core/dist*
/spreadsheet_client/dist*
/spreadsheet_server/dist*


